@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #111118;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #eeeeee;
}

button,
input {
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.page__content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.page__content_auth {
  background: center/cover url("../assets/pattern.png");
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  .page__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.profile-container {
  position: relative;
  padding: 40px 45px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 200px;
  max-width: 360px;
  height: 820px;
  width: 100%;
  margin: 75px 0 0 20px;
  background: linear-gradient(200deg, #13141e 0%, #1c1e2b 100%);
  -webkit-box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.profile-container_shadow {
  z-index: -1;
  width: 85%;
  height: 820px;
  position: absolute;
  left: 50%;
  top: 25px;
  border-radius: 30px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: linear-gradient(200deg, #13141e 0%, #1c1e2b 100%);
  opacity: 0.35;
}

.profile-container-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-container-section_data {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

.profile-container-section_personal-data {
  margin-top: 55px;
}

.profile-container-section_admin {
  max-height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: auto;
}

.profile-container-section_admin::-webkit-scrollbar {
  width: 7.5px;
}

.profile-container-section_admin::-webkit-scrollbar-track {
  background: transparent;
  margin: 50px 0;
}

.profile-container-section_admin::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media screen and (max-width: 1100px) {
  .profile-container {
    max-width: 990px;
    margin: 75px 20px 0 20px;
  }
}

@media screen and (max-width: 390px) {
  .profile-container {
    padding: 0 20px;
    border-radius: 20px;
  }
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  background-size: cover;
  background-position: center;
  border: 3px solid #b7ff7e;
  -webkit-filter: drop-shadow(0px 5px 10px rgba(158, 255, 68, 0.1));
          filter: drop-shadow(0px 5px 10px rgba(158, 255, 68, 0.1));
  -webkit-box-shadow: inset 0 0 0 4px #151621;
          box-shadow: inset 0 0 0 4px #151621;
}

.profile-section {
  color: rgba(255, 255, 255, 0.25);
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.profile-username {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.user__profile-section {
  margin: 0;
}

.user__avatar {
  background: center/cover url("https://images.unsplash.com/photo-1599242460737-5174dba06145?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80");
}

@media screen and (max-width: 340px) {
  .user__avatar {
    width: 60px;
    height: 60px;
  }
}

.user__name-container {
  margin-left: 20px;
}

.user__name-container_admin {
  margin-left: 0;
}

.profile-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

.profile-data-item {
  margin: 0;
  color: #e1e1e1;
}

.profile-data-value {
  margin: 0 0 0 auto;
  color: #b7ff7e;
}

.profile-separator {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  height: 2px;
  width: 155px;
  margin: 25px 0;
  border: none;
}

.catalog_admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-container {
  margin: 95px 0 0 0;
  min-width: 320px;
  max-width: 1080px;
  width: 100%;
}

.catalog-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0;
}

.catalog-bar__title {
  margin: 0 0 0 35px;
  font-size: 24px;
}

@media screen and (max-width: 370px) {
  .catalog-bar__title {
    margin: 0 0 0 25px;
  }
}

@media screen and (max-width: 370px) {
  .catalog-bar__title {
    margin: 0 0 0 20px;
  }
}

.catalog-bar__exit {
  min-width: 100px;
  font-size: 20px;
  color: #b7ff7e;
  background: transparent;
  border: none;
}

.catalog-bar__exit-form {
  margin: 0 20px 0 auto;
}

.catalog-bar__exit-icon {
  font-size: 16px;
  background: rgba(183, 255, 126, 0.1);
  border-radius: 50px;
  padding: 4px;
}

.catalog-bar__exit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.catalog-programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 40px;
}

.catalog-programs_admin {
  max-width: 530px;
  -webkit-box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.25);
}

.catalog-programs_admin-programs {
  overflow: auto;
  height: 775px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-programs_admin-programs::-webkit-scrollbar {
  width: 7.5px;
}

.catalog-programs_admin-programs::-webkit-scrollbar-track {
  background: transparent;
  margin: 50px 0;
}

.catalog-programs_admin-programs::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

@media screen and (max-width: 1587px) {
  .catalog-programs_admin {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1567px) {
  .catalog-programs {
    margin-bottom: 30px;
  }
}

.edit-form-items {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-form-items::-webkit-scrollbar {
  width: 7.5px;
}

.edit-form-items::-webkit-scrollbar-track {
  background: transparent;
  margin: 50px 0;
}

.edit-form-items::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.edit-form-items > .edit-form-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100% !important;
}

.edit-form_admin {
  padding: 35px;
  position: relative;
  border-radius: 20px;
  height: 680px;
  width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(200.9deg, #13141e 0%, #1c1e2b 100%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-form_admin > .auth-form-section-input {
  width: 100% !important;
}

@media screen and (max-width: 1587px) {
  .edit-form_admin {
    width: 100%;
    max-width: 100%;
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 1100px) {
  .edit-form_admin {
    margin: 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .edit-form_admin {
    padding: 20px;
  }
}

.edit-form-shadow {
  z-index: -1;
  position: absolute;
  width: 90%;
  height: 100%;
  opacity: 0.35;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: linear-gradient(200.9deg, #13141e 0%, #1c1e2b 100%);
  border-radius: 20px;
}

.edit-form-shadow_admin {
  top: 25px;
}

.program-container {
  padding: 35px;
  position: relative;
  min-width: 220px;
  max-width: 460px;
  width: 100%;
  height: 180px;
  background: linear-gradient(200.9deg, #13141e 0%, #1c1e2b 100%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-container_new {
  background: #111118;
  border: solid 1px #1c1e2b;
}

.program-container_new > .program-container_shadow {
  background: #111118;
  border: solid 1px rgba(255, 255, 255, 0.1);
}

.program-container_shadow {
  z-index: -1;
  position: absolute;
  width: 90%;
  height: 100%;
  opacity: 0.35;
  top: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: linear-gradient(200.9deg, #13141e 0%, #1c1e2b 100%);
  border-radius: 20px;
}

@media screen and (max-width: 1587px) {
  .program-container {
    max-width: 100%;
    width: 100%;
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 1100px) {
  .program-container {
    max-width: 100vw;
    margin: 0 20px;
  }
}

@media screen and (max-width: 560px) {
  .program-container {
    margin: 10px;
    padding: 25px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .program-container .program-info {
    width: 100%;
  }
  .program-container .program-media {
    width: 100%;
    margin: 15px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .program-container .program-image {
    margin: 0;
  }
  .program-container .program-action-btn {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: auto;
    margin-top: auto;
  }
}

@media screen and (max-width: 370px) {
  .program-container {
    padding: 20px;
  }
  .program-container .program-complexity-scale {
    -webkit-column-gap: 6.5px;
            column-gap: 6.5px;
  }
}

.program-info {
  width: 320px;
}

.program-title {
  margin: 0;
  color: #b7ff7e;
  font-size: 22px;
}

.program-description {
  color: #e1e1e1;
}

.program-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-stats-item {
  color: #b7ff7e;
  margin: 0;
}

.program-stats-separator {
  margin: 0 10px;
  background: rgba(183, 255, 126, 0.15);
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border: none;
}

.program-complexity {
  margin: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-complexity-title {
  color: rgba(255, 255, 255, 0.25);
  margin: 0 15px 0 0;
}

.program-complexity-scale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.program-complexity-scale__item {
  width: 7.5px;
  height: 7.5px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 7.5px;
  border: none;
}

.program-complexity-scale__item_active {
  background: #b7ff7e;
  -webkit-box-shadow: 0px 5px 5px rgba(178, 255, 118, 0.15);
          box-shadow: 0px 5px 5px rgba(178, 255, 118, 0.15);
}

.program-media {
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.program-image {
  background: center/cover url("https://images.unsplash.com/photo-1591504771094-a1ca4de142d7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  width: 105px;
  height: 105px;
  border-radius: 125px;
  margin: auto auto 17px auto;
}

.program-action-btn {
  outline: none;
  color: #b7ff7e;
  padding: 15px 20px;
  background: rgba(183, 255, 126, 0.1);
  border-radius: 50px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.program-action-btn_active {
  color: #ff7e7e;
  background: rgba(255, 126, 126, 0.1);
}

.program-action-btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

.edit-form {
  background: linear-gradient(200.9deg, #13141e 0%, #1c1e2b 100%), #c4c4c4;
  -webkit-box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 570px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: scroll;
  max-width: 550px;
  width: 100%;
}

.edit-form-input {
  color: #b7ff7e !important;
  margin-bottom: 30px !important;
  width: 95% !important;
}

@media screen and (max-width: 660px) {
  .edit-form-input {
    width: 85% !important;
  }
}

.edit-form::-webkit-scrollbar {
  width: 10px;
}

.edit-form::-webkit-scrollbar-track {
  background: transparent;
  margin: 30px 0;
}

.edit-form::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.edit-form-title {
  margin-bottom: 40px !important;
}

.edit-form-subtitle {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  margin: 0 0 5px 0;
}

.edit-form-btn-exit {
  background: transparent !important;
  border: solid 2px rgba(255, 255, 255, 0.35) !important;
  color: rgba(255, 255, 255, 0.85) !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.edit-form-btn-exit:hover {
  border: solid 2px rgba(255, 255, 255, 0.5) !important;
  color: white !important;
}

@media screen and (max-width: 660px) {
  .edit-form {
    padding: 30px;
  }
}

.edit-btn {
  border: none;
  background: none;
  color: #b7ff7e;
}

.edit-btn > i {
  font-size: 18px;
}

.edit-btn:hover {
  opacity: 0.75;
}

.auth-form {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 630px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(200deg, #13141e 0%, #1c1e2b 100%);
  -webkit-box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

@media screen and (max-width: 660px) {
  .auth-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 10px;
  }
}

.auth-form-section {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.auth-form-section_left {
  padding-right: 20px;
}

.auth-form-section_right {
  padding-left: 20px;
}

.auth-form-section-title {
  color: #b7ff7e;
  font-size: 28px;
  line-height: 30px;
  margin: 0;
}

.auth-form-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.auth-form-section-login {
  margin-top: 35px;
}

.auth-form-section-register {
  margin-top: 5px;
}

.auth-form-section-subtitle {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.auth-form-section-input {
  background: rgba(255, 255, 255, 0.025);
  width: 195px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  font-weight: 500;
  color: #dedede;
  margin-bottom: 10px;
}

.auth-form-section-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.auth-form-section-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.auth-form-section-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.auth-form-section-input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 660px) {
  .auth-form-section-input {
    width: 70%;
  }
}

.auth-form-section-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, right top, from(#b7ff7e), to(#a7ff61));
  background: linear-gradient(90deg, #b7ff7e 0%, #a7ff61 100%);
  color: #1c1e2b;
  font-weight: 600;
  font-size: 14px;
  padding: 15px 25px;
  border: none;
  -webkit-box-shadow: 0px 5px 40px rgba(183, 255, 125, 0.15);
          box-shadow: 0px 5px 40px rgba(183, 255, 125, 0.15);
}

.auth-form-section-button:hover {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 660px) {
  .auth-form-section {
    width: 100%;
    padding: 20px;
  }
}

.admin-profile_title {
  font-size: 18px;
  color: #b7ff7e;
  margin: 0 0 20px 0;
}

.admin-profile_user {
  margin-bottom: 15px;
  margin-right: 5px;
  border-radius: 15px;
  background: #1e1f2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.admin-profile_user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: center/cover url("https://i.pinimg.com/474x/71/74/f3/7174f3d7614d5d875d86a549c3f5c6dc.jpg");
}

@media screen and (max-width: 455px) {
  .admin-profile_user-avatar {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 375px) {
  .admin-profile_user-avatar {
    display: none;
  }
}

.admin-profile_user-info {
  margin-left: 15px;
}

@media screen and (max-width: 375px) {
  .admin-profile_user-info {
    margin: 0;
  }
}

.admin-profile_user-info_name {
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 400px) {
  .admin-profile_user-info_name {
    font-size: 14px;
  }
}

.admin-profile_user-info_login {
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
}

@media screen and (max-width: 400px) {
  .admin-profile_user-info_login {
    font-size: 14px;
  }
}

.admin-profile_user-edit {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}

.admin-profile_user-edit:hover {
  background: rgba(255, 255, 255, 0.1);
}

.admin-profile_user-edit > i {
  color: #b7ff7e;
}

@media screen and (max-width: 450px) {
  .admin-profile_user-edit {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */